body
{
	background-color: #152238;
}

p
{
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 15px;
	width: 65%;
	margin: auto;
}

noscript
{
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}

h2
{
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 22px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

h2.wadTitle
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 22px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.gameTitle
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 22px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2.tutorialTitle
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 22px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

h3
{
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 18px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}

h4
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 16px;
	font-weight: normal;
}

a
{
	color: #A5E6D7;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
}

a:hover
{
	color: #E6FAF5;
	font-family: sans-serif;
	font-size: 15px;
	text-decoration: none;
}

table.indexedList
{
	table-layout: auto;
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 15px;
	width: 65%;
	margin: auto;
	border-collapse: collapse;
}

.indexedList th
{
	text-transform: uppercase;
	text-align: left;
}

.indexedList tr:nth-child(even)
{
	background-color: #192841;
}

th.colYear
{
	width: 8%;
}

th.colTitle
{
	width: 60%;
}

th.colIwad
{
	width: 16%;
}

th.colMaps
{
	width: 16%;
}

th.colGenre
{
	width: 32%;
}

th.colMIDIName
{
	width: 50%;
}

th.colMIDIDesc
{
	width: 42%;
}

th.colMIDILength
{
	width: 8%;
}

table.wadInfo
{
	table-layout: fixed;
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 14px;
	width: 40%;
	margin: auto;
}

table.gameInfo
{
	table-layout: fixed;
	color: #FFFFF7;
	font-family: sans-serif;
	font-size: 14px;
	width: 40%;
	margin: auto;
}

.downloadLinks h3
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 20px;
	text-align: center;
}

footer
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 32px;
}

code
{
	color: #FFFFF7;
	font-family: monospace;
	font-size: 16px;
	white-space: pre;
	display: block;
}

.previewImage img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.centeredImage
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainText
{
	text-align: justify;
}

.centeredText
{
	text-align: center;
}

.bigText
{
	font-size: 17px !important;
}

.codeBlock
{
	width: 50%;
	background-color: #011729;
	padding: 12px;
	border: 1px hidden;
	border-radius: 8px;
}

.navbar
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 32px;
	margin-bottom: 24px;
	text-align: center !important;
}

.navbar a
{
	font-family: monospace !important;
	font-size: 20px !important;
	font-weight: bold !important;
	padding-left: 10px;
	padding-right: 10px;
}

.downloadLinks
{
	margin-top: 32px;
	margin-bottom: 32px;
}

.downloadLinks p
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.backToIndex
{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
