<!DOCTYPE html>

<html>
	<head>
		<title>title - MFG38's Fun Hub</title>
		<meta charset="UTF-8">
		<meta name="author" content="Santtu Pesonen">
		<meta name="keywords" content="Doom, WAD">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/style.css">
		<script src="../js/embedScripts.js"></script>
	</head>
	
	<body>
		<div id="navbarPlaceholder">
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					EmbedNavbar();
				});
			</script>
			<noscript>There should be a navbar here... Please enable scripts in your adblocker or whatever.</noscript>
		</div>
		
		<div class="backToIndex">
			<a href="../doom_wad_index.html">Back to Doom WAD index</a>
		</div>
		
		<p class="previewImage">
			<img src="" alt="" width="768" height="576">
		</p>

		<h2 class="wadTitle">title (filename.wad)</h2>
	
		<table class="wadInfo">
			<tbody>
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>IWAD</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Source port</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Game mode(s)</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Map(s)</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<div class="downloadLinks">
			<h3>DOWNLOAD LINKS</h3>
			<p>
				<a href="../files/doom_wads/filename.zip" download><img src="../images/buttons/direct.png" alt="Direct" width="64" height="64"></a>
				<a href="../files/doom_wads/filename.txt"><img src="../images/buttons/txt.png" alt="View text file" width="64" height="64"></a>
			</p>
		</div>

		<p class="mainText">[insert description here]</p>
		
		<div id="footerPlaceholder">
			<script>
				document.addEventListener("DOMContentLoaded", function() {
					EmbedFooter();
				});
			</script>
			<noscript>There should be a footer here... Please enable scripts in your adblocker or whatever.</noscript>
		</div>
	</body>
</html>
