<!DOCTYPE html>

<html>
	<head>
		<title>Template: Doom WAD</title>
	</head>
	
	<body>
		<p><img src="" alt="" width="768" height="432"></p>

		<h2>title (filename.wad)</h2>
	
		<table>
			<thead>
				<tr>
					<th><u>INFORMATION</u></th>
					<th></th>
				</tr>
			</thead>
	
			<tbody>
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>IWAD</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Source port</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Game mode(s)</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Map(s)</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<h3>DOWNLOAD LINKS</h3>
		<p>
			<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/dropbox.png" alt="" width="64" height="64"></a>
			<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/google_drive.png" alt="" width="64" height="64"></a>
		</p>

		<p>[insert description here]</p>
	</body>
</html>
