<html>
	<head>
		<title>Prayers of Armageddon</title>
	</head>
	
	<body>
		<p>[insert image here]</p>

		<h2>title (filename.wad)</h2>
	
		<table>
			<thead>
				<tr>
					<th><u>INFORMATION</u></th>
					<th></th>
				</tr>
			</thead>
	
			<tbody>
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>IWAD</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Source port</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Game mode(s)</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Map(s)</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<p><strong>DOWNLOAD &gt;&gt;&gt;</strong> <a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/dropbox.png" alt=""></a> <a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/google_drive.png" alt=""></a></p>

		<p>[insert description here]</p>
	</body>
</html>
