<!DOCTYPE html>

<html>
	<head>
		<title>Template: Game</title>
	</head>
	
	<body>
		<p><img src="" alt=""></p>

		<h2>title</h2>
	
		<table>
			<thead>
				<tr>
					<th><u>INFORMATION</u></th>
					<th></th>
				</tr>
			</thead>
	
			<tbody>
				<tr>
					<td><strong>Status</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Genre</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Engine</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<h3>DOWNLOAD LINKS</h3>
		<p>
			<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/gamejolt.png" alt="" width="64" height="64"></a>
			<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/itchio.png" alt="" width="64" height="64"></a>
		</p>

		<p>[insert description here]</p>
	</body>
</html>
