<!DOCTYPE html>

<html>
	<head>
		<title>Template: Game</title>
		<meta name="author" content="Santtu Pesonen">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<div id="navbarPlaceholder">
			<script type="text/javascript" src="embedScripts.js"></script>
			<script type="text/javascript">
				EmbedNavbar();
			</script>
		</div>
		
		<div class="backToIndex">
			<a href="../game_index.html">Back to game index</a>
		</div>
		
		<p><img src="" alt=""></p>

		<h2>title</h2>
	
		<table class="gameInfo">
			<tbody>
				<tr>
					<td><strong>Status</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Genre</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Engine</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<div class="downloadLinks">
			<h3>DOWNLOAD LINKS</h3>
			<p>
				<a href=""><img src="../images/buttons/gamejolt.png" alt="" width="64" height="64"></a>
				<a href=""><img src="../images/buttons/itchio.png" alt="" width="64" height="64"></a>
			</p>
		</div>

		<p>[insert description here]</p>
		
		<div id="footerPlaceholder">
			<script type="text/javascript" src="embedScripts.js"></script>
			<script type="text/javascript">
				EmbedFooter();
			</script>
		</div>
	</body>
</html>
