<!DOCTYPE html>

<html>
	<head>
		<title>Template: Game</title>
		<meta name="author" content="Santtu Pesonen">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	
	<body>
		<div id="navbarPlaceholder"></div>
		<script>
			$(function(){$("#navbarPlaceholder").load("../objects/navbar.html");});
		</script>
		
		<p><img src="" alt=""></p>

		<h2>title</h2>
	
		<table class="gameInfo">
			<tbody>
				<tr>
					<td><strong>Status</strong></td>
					<td>...</td>
				</tr>
			
				<tr>
					<td><strong>Year</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Genre</strong></td>
					<td>...</td>
				</tr>
		
				<tr>
					<td><strong>Engine</strong></td>
					<td>...</td>
				</tr>
			</tbody>
		</table>

		<div class="downloadLinks">
			<h3>DOWNLOAD LINKS</h3>
			<p>
				<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/gamejolt.png" alt="" width="64" height="64"></a>
				<a href=""><img src="https://raw.githubusercontent.com/MFG38/mfg38.github.io/main/images/buttons/itchio.png" alt="" width="64" height="64"></a>
			</p>
		</div>

		<p>[insert description here]</p>
	</body>
</html>
