<!DOCTYPE html>

<html>
	<head>
		<title>Template: Tutorial</title>
		<meta name="author" content="Santtu Pesonen">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<div id="navbarPlaceholder">
			<script type="text/javascript" src="../embedScripts.js"></script>
			<script type="text/javascript">
				EmbedNavbar();
			</script>
		</div>
		
		<div class="backToIndex">
			<a href="../tutorial_index.html">Back to tutorial index</a>
		</div>
		
		<p></p>
		
		<div id="footerPlaceholder">
			<script type="text/javascript" src="../embedScripts.js"></script>
			<script type="text/javascript">
				EmbedFooter();
			</script>
		</div>
	</body>
</html>